:root {
    --font-color: black;
    --border-color: grey;
    --font-style: normal;
    --keyValues-font-size: 400%;
    --chart-size: 100%;
    --topRowHeight: 32vh;
    --bottomRowHeight: 44.5vh;
    --font-family: Bahnschrift Light;
    --card-text-font-size: 200%;
}

body {
    overflow-x: hidden;
    position: relative;
    background-color: #f8f9fa;
    width: 100%;
    margin-left: 4%;
    margin-right: 6%;
    margin-top: 0.2%;
}

.navbar-brand {
    font-weight: bold;
}

.row {
    height: 92vh;
    margin-top: 0.2%;
}

.col {
    border-left: var(--border-color);
    border-right: var(--border-color);
}

.card {
    border-color: var(--border-color);
    /*background-color: lightgrey;*/
}

.card-header {
    color: dimgrey;
    font-weight: bold;
    border-color: var(--border-color);
    font-size: 110%;
    font-family: var(--font-family);
}

.card-footer {
    font-family: var(--font-family);
    font-size: 80%;
    background-color: transparent;
}

.card-text {
    font-family: var(--font-family);
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 250%;
}

.keyValue {
    font-family: var(--font-family);
    width: var(--chart-size);
    height: 29.3%;
    /*height: 21%;*/
}

#germanyHeatmap {
    font-family: var(--font-family);
    height: var(--chart-size);
    width: var(--chart-size);
}

#donutChart {
    font-family: var(--font-family);
    height: var(--chart-size);
    width: var(--chart-size);
}

#areaChart {
    font-family: var(--font-family);
    height: var(--chart-size);
    width: var(--chart-size);
}

#word_cloud {
    width: var(--chart-size);
    height: var(--chart-size);
}

#gauge {
    font-family: var(--font-family);
    width: var(--chart-size);
    height: var(--chart-size);
}

#stackedColumnChart {
    font-family: var(--font-family);
    width: var(--chart-size);
    height: var(--chart-size);
}

#trendlineChart {
    font-family: var(--font-family);
    width: var(--chart-size);
    height: var(--chart-size);
}

#barChart {
    font-family: var(--font-family);
    width: var(--chart-size);
    height: var(--chart-size);
}

#pictorialChart {
    font-family: var(--font-family);
    width: var(--chart-size);
    height: var(--chart-size);
}

#treeMapChart {
    font-family: var(--font-family);
    width: var(--chart-size);
    height: var(--chart-size);
}

#pieChart {
    font-family: var(--font-family);
    width: var(--chart-size);
    height: var(--chart-size);
}

#negativeBarChart {
    font-family: var(--font-family);
    width: var(--chart-size);
    height: var(--chart-size);
}