body {
    position: fixed;
    background-image: url(../pics/grey-background.jpg);
    width: 100%;
    margin-top: 2rem;
    margin-left: 5rem;
}

a {
    color: white;
    font-weight: bold;
    font-style: normal;
}

h1, h2 {
    color: white;
    font-style: normal;
    width: 100%;
    text-align: center;
}

#de_map svg path[fill^='none'] {
    stroke-width:0px; /*Umrandungen der datenlosen Länder*/
}

#word_cloud {
    width: 100%;
    height: 400px;
}

.card {
    background-color: #1b1e21;
}

.card-header {
    color: white;
}

.col {
    border-left: white;
    border-right: white;
}

.row {
    border-bottom: white;
}

p {
    color: white;
}